PORT=8080
DB_URL=mysql://2RK7ZwCS2JqbjZ4.root:1RYES8oC7FbHSJnM@gateway01.ap-northeast-1.prod.aws.tidbcloud.com:4000/sys
DB_USERNAME=2RK7ZwCS2JqbjZ4.root
DB_PASSWORD=0QBhLzu6MSfjFznJ
ML_SERVICE_URL=http://localhost:8000
FRONTEND_ORIGIN=https://fraud-anomaly-dashboard.vercel.app/
