PORT=8080
DB_URL=jdbc:mysql://localhost:3306/fraud_dashboard?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=fraud_user
DB_PASSWORD=fraud_pass
ML_SERVICE_URL=http://localhost:8000
FRONTEND_ORIGIN=http://localhost:5173
